<section class="collapsible-section">
  <div class="section-header" (click)="toggleSection()">
    <h3>EXPERTISE</h3>
    <span class="arrow-icon" [class.rotated]="!isOpen">▲</span>
  </div>

  <div class="section-content" [style.display]="isOpen ? 'block' : 'none'">
    <div class="expertise-grid">
      
      <div class="expertise-item">
        <div class="chart-box">
          <canvas id="chartPhotoshop"></canvas>
        </div>
        <span>ADOBE<br>PHOTOSHOP</span>
      </div>

      <div class="expertise-item">
        <div class="chart-box">
          <canvas id="chartIllustrator"></canvas>
        </div>
        <span>ADOBE<br>ILLUSTRATOR</span>
      </div>

      <div class="expertise-item">
        <div class="chart-box">
          <canvas id="chartInDesign"></canvas>
        </div>
        <span>ADOBE<br>INDESIGN</span>
      </div>

      <div class="expertise-item">
        <div class="chart-box">
          <canvas id="chartPowerPoint"></canvas>
        </div>
        <span>POWER<br>POINT</span>
      </div>

    </div>
  </div>
</section>