<section class="expertise">
  <div class="section-toggle" (click)="toggle()" [class.active]="isExpanded">
  <h2>EXPERTISE</h2>
  <i class="fa-solid fa-chevron-down"></i>
</div>

<div class="section-content" [class.hidden]="!isExpanded">
   </div>
  
  <div class="expertise-list">
    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartPhotoshop"></canvas>
      </div>
      <span>Adobe<br>Photoshop</span>
    </div>

    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartIllustrator"></canvas>
      </div>
      <span>Adobe<br>Illustrator</span>
    </div>

    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartInDesign"></canvas>
      </div>
      <span>Adobe<br>InDesign</span>
    </div>

    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartPowerPoint"></canvas>
      </div>
      <span>Power<br>Point</span>
    </div>
  </div>
</section>