// about.scss
.about-me {
  h2 {
    display: flex;
    justify-content: space-between; // Стрілочка праворуч
    align-items: center;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #2c2c2c;
    border-bottom: 2px solid #e0e0e0; // Сіра лінія під заголовком
    padding-bottom: 15px;
    margin-bottom: 20px;
    cursor: pointer;

    i {
      color: #e86142; // Помаранчева стрілочка
      font-size: 14px;
    }
  }

  p {
    font-size: 15px;
    color: #666;
    line-height: 1.8; // Комфортний відступ між рядками
  }
}