// app.scss
.resume-container {
  display: flex;
  align-items: stretch;
  width: 900px;
  min-height: 1050px; // Зменшили висоту, щоб не було порожнечі знизу
  height: auto; 
  margin: 30px auto;
  padding-left: 55px; // Та сама біла смужка
  background-color: white;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  overflow: hidden;
}

app-left_column {
  flex: 32;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

app-right_column {
  flex: 68;
  background-color: white;
}