<section class="expertise">
  <h2>EXPERTISE</h2>
  
  <div class="expertise-list">
    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartPhotoshop"></canvas>
        <span class="label">Adobe<br>Photoshop</span>
      </div>
    </div>

    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartIllustrator"></canvas>
        <span class="label">Adobe<br>Illustrator</span>
      </div>
    </div>

    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartInDesign"></canvas>
        <span class="label">Adobe<br>InDesign</span>
      </div>
    </div>

    <div class="expertise-item">
      <div class="chart-container">
        <canvas id="chartPowerPoint"></canvas>
        <span class="label">Power<br>Point</span>
      </div>
    </div>
  </div>
</section>