.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0; // Світло-сірий фон сайдбару
  padding: 45px;
  gap: 40px;
  height: 100%;

  .name-block h1 {
    font-size: 32px;
    font-weight: 900;
    color: #2c2c2c;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}