<section class="experience-wrapper">
  

  <div class="experience-list">
    @for (job of jobs; track job.position) {
      <div class="experience-item">
        <h4 class="position">{{ job.position }}</h4>

        <div class="info-row">
          <span class="badge">{{ job.tag }}</span>
          <span class="company">{{ job.company }}</span>
        </div>

        <ul class="duties-list">
          @for (duty of job.duties; track duty) {
            <li>{{ duty }}</li>
          }
        </ul>
      </div>
    }
  </div>
</section>