.reference-section {
  margin-bottom: 35px;

  h3 {
    font-weight: 800;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .ref-item {
    strong {
      display: block;
      font-size: 15px;
      color: #000;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: #666;
      line-height: 1.4;

      &.phone {
        margin-top: 5px;
        color: #333;
      }
    }
  }
}